{% extends "index.html" %}

{% block content %}
<div class = "row my-5">
    <div class="col-12 text-center">
        <h2>Series aired on {{ today }}</h2>
    </div>
</div>
{% for show in today_list %}
    <div class = "row my-2">
        <div class="col-2">
            {% if show.poster_path == none %}
                <img src="https://placehold.it/324x486?text={{ show.title }}" class="figure-img img-fluid rounded" alt="{{ show.title }}">
            {% else %}
                <img class="card-img-top border" src="{{ tmdb_image_url(show.poster_path,'w342')}}" alt="">
            {% endif %}
        </div>
        <div class = "col-10">
            <div class ="card">
                <div class = "card-header bg-dark">
                    <h4 class = "card-title text-light text-center">{{ show.name }}</h4>
                </div>
                <div class = "card-body">
                    <p>{{ show.overview }}</p>
                </div>
            </div>
        </div>
    </div>  
{% endfor %}
{% endblock %}